<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Идентификатор: <td th:text="${order.id}">1</td></p>
<p>Имя: <td th:text="${order.name}">Brand...</td></p>
<p>Телефон: <td th:text="${order.phone}">Model...</td></p>
<p>Email: <td th:text="${order.email}">Engine...</td></p>
<p>ID автомобиля: <td th:text="${order.car.getId()}">Engine...</td></p>
<p>Примечание: <td th:text="${order.noteOrder}">Engine...</td></p>
    <br>
<br>
<div>
    <form th:method="post" th:hidden="${order.getCheckField() == 'LightGreen'} ? 'true' : 'false'" th:action="@{/orders/{id}/switchCheckField(id=${order.getId()}, switchValue='LightGreen')}">
        <button type="submit" style="height: 30px; width: 300px"/>Принять</button>
    </form>
    <form th:method="post" th:hidden="${order.getCheckField() == 'Red'} ? 'true' : 'false'" th:action="@{/orders/{id}/switchCheckField(id=${order.getId()}, switchValue='Red')}">
        <button type="submit" style="height: 30px; width: 300px"/>Отклонить</button>
    </form>
    <form th:method="post" th:hidden="${order.getCheckField() == 'null'} ? 'true' : 'false'" th:action="@{/orders/{id}/switchCheckField(id=${order.getId()}, switchValue='null')}">
        <button type="submit" style="height: 30px; width: 300px"/>На рассмотрение</button>
    </form>
    <form th:method="get" th:action="@{/orders/{id}/edit(id=${order.getId()})}">
        <button type="submit" style="height: 30px; width: 300px"/>Изменить</button>
    </form>
    <form th:method="post" th:action="@{/orders/{id}/delete(id=${order.getId()})}">
        <button type="submit" style="height: 30px; width: 300px"/>Удалить</button>
    </form>
</div>
</body>
</html>