<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<tr th:each="feedback : ${feedbacks}">
    <p>Идентификатор: <td th:text="${feedback.id}">1</td></p>
    <p>Имя: <td th:text="${feedback.name}">Brand...</td></p>
    <p>Отзыв: <td th:text="${feedback.feedbackField}">Model...</td></p>
    <p>ID автомобиля: <td th:text="${feedback.getCar().getId()}">Year...</td></p>
    <br>
    <br>
</tr>

</body>
</html>